* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

button {
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0 2px 3px black;
}

button:focus {
  outline: none;
}

button.open-modal {
  background-color: blue;
}

button.dismiss-modal {
  background-color: red;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-dialog {
  padding: 2rem;
  background-color: white;
  border-radius: 0.25rem;
}

.modal-actions {
  display: flex;
  justify-content: center;
  margin: 2rem 0 1rem;
}

.hidden {
  display: none;
}
