* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.ceiling {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(18, 18, 18);
  transition: background-color 0.1s ease;
}

.ceiling.is-lit {
  background-color: rgb(254, 249, 242);
}

.bulb {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(38, 38, 38);
  box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.8);
  transition: background-color 0.05s ease, box-shadow 0.05s ease;
}

.bulb.is-on {
  background-color: rgb(252, 234, 134);
  box-shadow: 0 4px 30px rgb(254, 240, 137);
}
